[submodule "unicorn_mode/unicornafl"]
	path = unicorn_mode/unicornafl
	url = https://github.com/AFLplusplus/unicornafl
[submodule "custom_mutators/grammar_mutator"]
	path = custom_mutators/grammar_mutator/grammar_mutator
	url = https://github.com/AFLplusplus/Grammar-Mutator
[submodule "qemu_mode/qemuafl"]
	path = qemu_mode/qemuafl
	url = https://github.com/AFLplusplus/qemuafl
[submodule "custom_mutators/gramatron/json-c"]
	path = custom_mutators/gramatron/json-c
	url = https://github.com/json-c/json-c
[submodule "coresight_mode/patchelf"]
	path = coresight_mode/patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "coresight_mode/coresight-trace"]
	path = coresight_mode/coresight-trace
	url = https://github.com/RICSecLab/coresight-trace.git
[submodule "nyx_mode/libnyx"]
	path = nyx_mode/libnyx
	url = https://github.com/nyx-fuzz/libnyx.git
[submodule "nyx_mode/packer"]
	path = nyx_mode/packer
	url = https://github.com/nyx-fuzz/packer.git
[submodule "nyx_mode/QEMU-Nyx"]
	path = nyx_mode/QEMU-Nyx
	url = https://github.com/nyx-fuzz/QEMU-Nyx
